extends includes/layout.pug

block content
  div(class="full-post")
    div(class="card article")
      div(class="article_container")  
        div(class="article__content")
          h1(href=config.root + page.path)= page.title  
          !=page.content       
