extends includes/layout.pug

block content
  div(class="full_post")
    div(class="article card")
      div(class="article_container")
        div(class="article_title")
          h1(href=config.root + page.path)= page.title    
        div(class="article_content")
          !=page.content       
        div(class="post_footer")
