extends includes/layout.pug
block content
  div(class="full-post")
    div(class="card article")
      -let background = (page.background) ? page.background : theme.thumbnail.default;
      -let thumbnail_modifier = (page.background) ? '--thumbnail' : '';
      div(class="article__banner", style={background: background})
        div(class="article__banner--title" + thumbnail_modifier)
          h1= page.title
          div(class="article__banner--date")
            !=date(page.date, date_format)

        if page.tags.length > 0 
          div(class="article__banner--tags" + thumbnail_modifier)
            !=list_tags(page.tags, {show_count: false, class: 'tags', style: 'list', separator: ''})

        div(class="article__banner--footer")
          if page.github
            a(class="button" + thumbnail_modifier, href=page.github)= 'More on Git '
              i(class="fa fa-github fa-lg")&attributes({'aria-hidden': 'true'})
          if page.heroku
            a(class="button" + thumbnail_modifier, href=page.heroku)= 'More on Heroku '
              i(class="fa fa-cloud fa-lg")&attributes({'aria-hidden': 'true'})
           
      div(class="article__content")
        !=page.content
                  


    

    
