@charset "UTF-8";
@font-face {
  font-family: "Colfax";
  font-style: normal;
  font-weight: 600;
  src: local("Colfax Medium"), url(/fonts/Colfax-Medium.woff) format("woff"); }
@font-face {
  font-family: "Colfax";
  font-style: normal;
  font-weight: 400;
  src: local("Colfax Regular"), url(/fonts/Colfax-Regular.woff) format("woff"); }
@font-face {
  font-family: "Colfax";
  font-style: normal;
  font-weight: 300;
  src: local("Colfax Light"), url(/fonts/Colfax-Light.woff) format("woff"); }
::-moz-selection, ::selection {
  background: rgba(107, 79, 189, 0.4);
  text-shadow: none; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: rgba(41, 50, 60, 0.1);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  text-rendering: optimizeLegibility; }

html {
  -ms-touch-action: manipulation;
  color: rgba(0, 0, 0, 0.75);
  font-size: 112%;
  line-height: 1.6;
  display: block;
  height: 100%;
  width: 100%;
  touch-action: manipulation; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    html {
      font-size: 90%; } }
  @media only screen and (min-width: 360px) and (max-width: 480px) {
    html {
      font-size: 85%; } }
  @media only screen and (max-width: 360px) {
    html {
      font-size: 80%; } }

body, html {
  font-family: "Colfax", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden; }

code {
  border: none;
  border-bottom-right-radius: 3px;
  border-radius: 0;
  border-top-right-radius: 3px;
  display: block;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type, ul:first-of-type {
  padding-top: 0;
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: 1px; }

h1, h2, h3 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-left: -2px; }

h1 {
  font-size: 2.827145944em; }

h2 {
  font-size: 1.999396em; }

h3 {
  font-size: 1.414em; }

h4 {
  font-size: 112%; }

p {
  font-weight: 300; }

ul {
  letter-spacing: 1px;
  line-height: 1.6; }

#layout {
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: 19rem 1fr;
  width: 100%;
  margin: auto;
  max-width: 1300px; }
  @media only screen and (min-width: 1200px) {
    #layout {
      padding: 2.25em; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    #layout {
      padding: 1.75em; } }
  @media only screen and (min-width: 480px) and (max-width: 480px) {
    #layout {
      padding: 1.25em; } }
  @media only screen and (min-width: 360px) and (max-width: 480px) {
    #layout {
      padding: 0.75em; } }
  @media only screen and (max-width: 360px) {
    #layout {
      padding: 0.5em; } }
  @media only screen and (max-width: 1200px) {
    #layout {
      max-width: 800px;
      grid-template-columns: 1fr; } }

#main {
  width: 100%;
  overflow: visible;
  z-index: 1; }
  @media screen and (min-width: 1200px) {
    #main {
      grid-column-start: 2; } }

#header {
  padding: 1em;
  vertical-align: middle;
  z-index: 1;
  width: 100%; }
  #header a {
    transition: color 0.3s ease; }
    #header a:hover {
      color: black; }
  @media screen and (max-width: 1200px) {
    #header {
      margin: 0 auto;
      align-items: center;
      max-width: 30rem; } }
  @media screen and (min-width: 1200px) {
    #header {
      position: fixed;
      align-items: flex-start;
      width: 19rem;
      padding-right: 0;
      padding-left: 2.25em;
      padding-top: 2.25em; } }

#content, #header {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column; }

@media screen and (max-width: 1200px) {
  #title {
    display: flex;
    flex-direction: row;
    align-items: center; }
    #title h2 {
      margin: 0; } }

#navigation {
  display: flex;
  width: 100%; }
  #navigation h1, #navigation h2, #navigation h3 {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.6; }
  #navigation a {
    transition: color 0.3s ease-in-out;
    display: inline-block;
    position: relative; }
  @media screen and (min-width: 1200px) {
    #navigation {
      flex-direction: column;
      display: block; } }
  @media screen and (max-width: 1200px) {
    #navigation {
      display: flex;
      align-items: baseline;
      justify-content: space-evenly; } }

#sns {
  font-size: 1.414em;
  padding: 1rem 0; }
  #sns a {
    margin: 0 1rem;
    text-decoration: none; }
    #sns a:first-child {
      margin-left: 0; }
  @media screen and (max-width: 1200px) {
    #sns {
      display: none; } }

#avatar img {
  border-radius: 120%;
  display: block;
  height: auto;
  margin: auto; }
@media screen and (min-width: 1200px) {
  #avatar {
    padding-bottom: 0.5em; }
    #avatar img {
      max-width: 8em; } }
@media screen and (max-width: 1200px) {
  #avatar {
    padding-right: 1rem; }
    #avatar img {
      min-width: 4rem;
      width: 5rem; } }

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin-bottom: 3.1815em;
  min-height: 15rem;
  background: #f8f8f8;
  border-radius: 0.75em;
  -webkit-box-shadow: 0 1.5rem 3rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 3rem 1rem rgba(0, 0, 0, 0.1); }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .card {
      margin-bottom: 2.4745em; } }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .card {
      margin-bottom: 1.7675em; } }
  @media screen and (max-width: 480px) {
    .card {
      margin-bottom: 1.0605em; } }

.card-gradient {
  z-index: 3; }
  .card-gradient:hover {
    cursor: pointer; }
  .card-gradient::after {
    -webkit-transition: opacity 0.3s ease;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(142, 102, 119, 0.15)), color-stop(90%, rgba(255, 175, 189, 0)));
    background-image: linear-gradient(to top, rgba(142, 102, 119, 0.15) 0%, rgba(255, 175, 189, 0) 90%);
    bottom: 0;
    content: "";
    height: 40%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    transition: opacity 0.3s ease;
    width: 100%;
    z-index: 2; }
  .card-gradient:hover::after {
    opacity: 1; }

.post_content, .post_title, .post_footer, .post_thumbnail img {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .post_content, .post_title, .post_footer, .post_thumbnail img {
      padding: 3.1815em; } }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .post_content, .post_title, .post_footer, .post_thumbnail img {
      padding: 2.4745em; } }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .post_content, .post_title, .post_footer, .post_thumbnail img {
      padding: 1.7675em; } }
  @media screen and (min-width: 360px) and (max-width: 480px) {
    .post_content, .post_title, .post_footer, .post_thumbnail img {
      padding: 1.0605em; } }
  @media screen and (max-width: 360px) {
    .post_content, .post_title, .post_footer, .post_thumbnail img {
      padding: 0.707em; } }

.post_content, .post_title, .post_footer {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: fade-in;
  animation-timing-function: ease;
  animation-delay: 0.2s; }

.post_content {
  padding-bottom: 0.875em;
  padding-top: 0.875em;
  position: relative;
  z-index: 4; }
  @media screen and (max-width: 768px) {
    .post_content {
      padding-top: 0;
      padding-bottom: 0; } }

.post_title {
  position: relative;
  padding-bottom: 0;
  z-index: 9; }
  .post_title.thumbnail {
    margin-top: -14em;
    height: 14rem;
    display: flex;
    align-items: flex-end;
    color: white;
    background-image: linear-gradient(to top, rgba(16, 16, 16, 0.7) 10%, rgba(16, 16, 16, 0)); }
  .post_title h1 {
    margin-bottom: 0; }

.post_footer {
  z-index: 10;
  padding-top: 0; }

.post_thumbnail {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .post_thumbnail img {
    height: auto;
    vertical-align: middle; }

.tags-list {
  font-size: 0.7072135785em;
  margin: 0;
  padding: 0; }

.tags-list-item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-appearance: none;
  float: left;
  letter-spacing: 1px;
  list-style: none;
  padding: 0.7em 0.5em;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
  position: relative;
  z-index: 4; }
  .tags-list-item a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: rgba(51, 51, 51, 0.75);
    text-decoration: none;
    text-transform: uppercase; }
    .tags-list-item a:hover {
      color: rgba(0, 0, 0, 0.75); }
  .tags-list-item:hover {
    color: rgba(0, 0, 0, 0.75); }

.button-wrapper {
  z-index: -1;
  margin-left: auto; }
  .button-wrapper:last-of-type {
    padding-bottom: 0; }

.fade-in {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-delay: 0.1s;
  animation-name: fade-in-up;
  animation-timing-function: ease; }

@-webkit-keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1%, 0);
    transform: translate3d(0, 1%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.button {
  background-image: linear-gradient(-120deg, #6b4fbd 0%, #72378c 100%);
  background-position: 100% 0;
  background-size: 200% auto;
  border-radius: 0.5rem;
  color: #fff;
  display: inline-block;
  font-size: 112%;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0.7em 1.4em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  z-index: 4; }
  .button:hover {
    background-position: 0 0;
    color: #fff; }
  .button.alt {
    background: rgba(107, 79, 189, 0.2);
    color: #6b4fbd; }
  .button.alt:hover {
    background: rgba(107, 79, 189, 0.3); }
  @media screen and (max-width: 768px) {
    .button {
      padding: 0.5em 1em; } }

.container {
  flex-direction: column;
  margin: auto;
  justify-content: flex-start; }
  .container .item {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .container .item i {
      font-size: 1.999396em;
      width: 2em; }

/*# sourceMappingURL=sidebar.css.map */
