// TODO Refractor the code
// Zooming out causes the topbar and the header display issues   
// fix padding 

$line-height: 1.5
$ratio: 1.25
$sidebar-width: 320px
$top-bar-height: 4em

$break-xxs: 360px
$break-xs: 400px
$break-s: 560px
$break-m: 768px
$break-l: 970px
$break-xl: 1200px
$break-xxl: 1400px
$break-xxxl: 1860px
$break-uw: 2600px 

$mobile-break: $break-s  
$sidebar-break: $break-xxl

//1600px has to be the maximum for other pages
$base-font-size: 1em * .95
$step-up-1: 1em * $ratio
$step-up-2: $step-up-1 * $ratio
$step-up-3: $step-up-2 * $ratio
$step-up-4: $step-up-3 * $ratio
$step-down-1: 1em / $ratio
$step-down-2: $step-down-1 / $ratio

$max-card-width: 800px
$card-border-radius: 6px
$background-color: #EDF1F4
$sidebar-background-color: rgb(249,252,255)
$topbar-background-color: rgb(244,247,250)
$card-background: rgb(255,255,255)
$dark-mode-card: rgba(44,50,58,1)

$post-width: 28.75em
$post-height: 32.875em
$post-padding: 2em

$shadow: 0 6px 24px 0 rgba(50,50,50,0.2)

//@mixin transition 




@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 600
  src: local("Roboto Medium"), url(/fonts/Roboto-Medium.tff) format("tff")


@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  src: local("Roboto Regular"), url(/fonts/Roboto-Regular.tff) format("tff")


\::-moz-selection, ::selection
  background: rgba(107, 79, 189, 0.4)
  text-shadow: none


::-webkit-scrollbar
  width: 0
  display: none

body
  opacity: 0
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background: $background-color
  background-attachment: fixed
  background-size: cover
  //height: 100vh
  margin: 0
  transition: opacity .3s ease-in-out
  transition-delay: .2s
  //width: 100%
  text-rendering: optimizeLegibility

html
  -ms-touch-action: manipulation
  line-height: $line-height
  display: block
  height: 100%
  width: 100%
  touch-action: manipulation
  

body, html
  font-family: 'Roboto', "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
  font-weight: 400
  overflow-x: hidden
  font-size: $base-font-size
  @media only screen and (min-width: $sidebar-break) 
    font-size: .95em
  @media only screen and (min-width: $mobile-break) and (max-width: $sidebar-break)
    font-size: .93em
  @media only screen and (min-width: $break-xs) and (max-width: $break-s)
    font-size: .90em
  @media only screen and (min-width: $break-xxs) and (max-width: $break-xs)
    font-size: .87em
  @media only screen and (max-width: $break-xxs)
    font-size: .84em

code
  border: none
  border-bottom-right-radius: 3px
  border-radius: 0
  border-top-right-radius: 3px
  display: block
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
  font-size: 13px
  line-height: 19px
  overflow: auto
  padding: 0

a
  color: inherit
  text-decoration: none
  
*, :after, :before
  -webkit-box-sizing: border-box
  box-sizing: border-box

h1, h2, h3, h4, h5, h6, ul
  padding-top: 0
  margin-top: 0

h1, h2, h3, h4, h5, h6
  font-weight: 600

h1, h2, h3
  margin-bottom: $step-up-1 .5rem
  line-height: 1.2
  margin-left: -2px

ul
  list-style-type: none
  padding: 0
  margin: 0
li
  font-size: 1em

h1
  font-size: $step-up-3

h2
  font-size: $step-up-2

h3
  font-size: $step-up-1

h4
  font-size: 1em

p
  font-weight: 400
  overflow-wrap: break-word
  word-wrap: break-word
  -ms-word-break: break-all
  word-break: break-word
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto
ul
  line-height: $line-height

// Structure of the site
// contains main and header objects
.layout
  display: grid
  grid-template-rows: $top-bar-height 3rem 1fr
  width: 100%   
  height: 100%
  @media only screen and (min-width: $sidebar-break)
    grid-template-columns: $sidebar-width 3rem 1fr 3rem
  @media only screen and (max-width: $sidebar-break)
    grid-template-columns: 1rem 1fr 1rem

// Container for the main content 
// Contains one of the classes - articles or posts
.main
  width: 100%
  height: 100%
  overflow: visible
  z-index: 1
  grid-row-start: 3
  grid-column-start: 3
  @media only screen and (max-width: $sidebar-break)
    grid-column-start: 2
 

// Container for the top information
// fixed for mobile
.tob-bar
  display: grid
 
  grid-template-columns: 1rem 1rem 1rem 1fr 1rem
  grid-template-rows: 1fr
  align-items: center 
  z-index: 4000
  width: 100vw
  //padding: 0 1em
  position: fixed
  transition: background .15s ease-in-out
  height: $top-bar-height
  background: $topbar-background-color
  box-shadow: $shadow
  top: 0
  left: 0
  @media only screen and (min-width: $sidebar-break)
    grid-template-columns: $sidebar-width 3rem 1fr 1fr 3rem
  @media only screen and (min-width: $mobile-break) and (max-width: $sidebar-break)
    grid-template-columns: 2rem 2rem 1rem 1fr 2rem
   

.top-bar__logo
  font-size: $step-up-1
  text-transform: uppercase
  grid-column: 1
  padding: 0 3rem
  overflow: visible
  span
    font-weight: 600
  @media only screen and (max-width: $sidebar-break)
    display: none

// The button for opening the sidebar
.top-bar__button
  grid-column: 2 / 2
  font-size: $step-up-2
  justify-self: center
  display: block
  color: #293C50
  cursor: pointer
  &:hover
    color: #6F64F2
    .bar
      background-color: #6F64F2
  @media only screen and (min-width: $sidebar-break)
    display: none !important
  &.rotated

.bar
  transition: all .15s ease-in-out
  width: 1rem
  height: .2rem
  margin: .1rem 0
  background-color: #293C50
  border-radius: 2px
  -webkit-filter: drop-shadow(0 8px 32px rgba(50, 50, 50, 0.3))
  filter: drop-shadow(0 1px 3px rgba(50, 50, 50, 0.3))
  z-index: -1

.top-bar__text--slash
  color: #E7AAAE
  padding: 0 .5rem

.top-bar__text
  text-transform: uppercase
  color: #293C50
  margin: 0
  grid-column: 4 / 4
  @media only screen and (min-width: $sidebar-break)
    grid-column: 3 / 3

.tob-bar__search
  grid-column: 4
  justify-self: end
  @media only screen and (max-width: $sidebar-break)
    display: none
  input[type="text"]
    background: #FFFFFF
    box-shadow: 0 2px 40px 0 rgba(0,0,0,0.15)
    border-radius: 3px
    border: none
    height: 2rem
    margin-left: 1em
    width: 260px

//The button for closing the sidebar    
.header__close
  cursor: pointer
  margin-top: auto
  @media only screen and (min-width: $sidebar-break)
    display: none 

// Container for the sidebar
// 3 different versions, depending on the screen width
// desktop, desktop/tablet , mobile 
.header
  vertical-align: middle
  margin-top: $top-bar-height
  z-index: 10
  height: 100%
  flex-grow: 1
  display: flex
  overflow-y: hidden
  flex-shrink: 1
  background-color: $sidebar-background-color
  box-shadow: $shadow
  position: fixed
  align-items: flex-start 
  flex-flow: wrap
  flex-direction: column
  left: $sidebar-width - (2 * $sidebar-width)
  width: $sidebar-width
  will-change: transform
  transition-property: transform
  transition-duration: .15s
  transition-delay: .15s
  transition-timing-function: ease-in-out
  &>div:first-child
    padding-top: 3rem
  @media only screen and (min-width: $sidebar-break) 
    padding-top: 0
    height: 100vh
    min-height: 100%
    left: 0
  @media only screen and (max-width: $sidebar-break) 
    @supports (backdrop-filter: blur(3em)) or (-webkit-backdrop-filter: blur(2em))
      background: rgba(255, 255, 255, .8)
      backdrop-filter: blur(2em)
      -webkit-backdrop-filter: blur(2em)
      

#header:focus
  outline: 0px solid transparent
 
.nav-item
  display: flex
  padding: 1rem 33px   
  align-items: center
  transition-property: color, border-left, background
  transition-duration: .15s
  transition-timing-function: ease-in-out
  color: #5F7288
  border-left: 5px solid transparent
  &:hover
    color: #6F64F2
    background: rgba(0,0,0,.05)
    border-left: 5px solid #6F64F2
    .nav_item_icon
      color: #ABA8F2
  &:active
    border-left: 5px solid #E8676A
    background: #FFE6E8

.nav-item__icon
  width: 1rem
  color: #AAB9C5
  transition: color .15s ease-in-out
  margin-right: 1rem

.nav-item__info
  line-height: .25
  font-size: 1rem
  font-weight: 400
  color: #AAB9C5
  position: absolute

.nav-item__label
  text-transform: uppercase
  font-weight: 600

.nav-item--close
  display: flex
  padding: 1rem 2rem
  align-items: center
  transition-property: color, border-left, background
  transition-duration: .15s
  transition-timing-function: ease-in-out
  color: #E7AAAE 
  margin-bottom: $top-bar-height
  &:hover
    color: #E8676A

// class for hiding the sidebar
.show-header
  transition-property: transform
  transition-duration: .15s
  transition-timing-function: ease-in-out
  transition-delay: 0s !important
  @media only screen and (min-width: $sidebar-break)
    -webkit-transform: translate3d(0,0,0)
    transform: translate3d(0,0,0)
  @media only screen and (max-width: $sidebar-break)
    -webkit-transform: translate3d($sidebar-width,0,0)
    transform: translate3d($sidebar-width,0,0)

.header__info, .header__about
  padding: 1rem 3rem   
.header__close, .header__sns, .header__nav
  width: 100%  
  padding: 1rem 0

// Short text about the site
.header__about--greeting
  font-size: $step-up-1
  font-weight: 600
  color: #293C50
.header__about--text
  color: #5F7288
  max-height: 7.5em
  transition-property: height
  transition-duration: .15s
  transition-timing-function: ease-in-out
  // @media only screen and (max-height: 600px)
  //   max-height: 0px
  //   opacity: 0

// top container for the information about the site / user
// contains the avatar and the title objects
.header__info
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start

.info-title
  padding-left: 12px
  margin: 12px 0

.info-title__author
  color: #6F64F2
  line-height: $line-height
  margin: 0

.info-title__text
  color: #6D757E
  margin: 0

.avatar
  border-radius: 120%
  display: block
  height: auto
  width: 6em
  box-shadow: $shadow

// container for full pages and posts
.full-post
  display: flex
  justify-content: center
  margin: 0 .5em

// container for the recents posts
.posts
  display: grid
  grid-gap: 20px
  grid-auto-flow: row dense
  margin: 0 auto
  margin-bottom: 4em
  align-items: center
  grid-auto-rows: minmax(auto, 1fr)
  grid-template-columns: 1fr
  justify-items: center
  @media only screen and (min-width: $break-l)
    grid-template-columns: repeat(auto-fit, 460px)



.posts-container
  margin: 0 auto
  @media only screen and (min-width: $break-l) and (max-width: $break-xxxl)
    max-width: 960px 
  @media only screen and (min-width: $break-xxxl) 
    max-width: 1440px 

.post
  color: white
  width: 100%
  height: 100vw
  position: relative
  @media only screen and (min-width: $break-s) and (max-width: $break-l)
    width: 460px * 1.15
    height: 520px * 1.15
  @media only screen and (min-width: $break-l)
    width: 460px
    height: 520px

.card
  box-sizing: border-box
  display: flex
  flex-direction: column
  overflow: hidden
  position: relative
  background: $card-background
  border-radius: $card-border-radius
  box-shadow: $shadow

// Page 
.article
  width: 100%
  max-width: 950px
  margin-top: 2em
  margin-bottom: 4em
  display: flex
  align-items: center
  overflow: visible

.article__banner, .article 
  animation-duration: .3s
  animation-fill-mode: both
  animation-name: fade-in-up
  animation-timing-function: ease-in-out 

.article__banner
  position: relative
  width: calc(100% - 2em)
  margin: 0 1em
  margin-top: -20px
  border-radius: $card-border-radius
  z-index: 20
  display: flex
  flex-direction: column
  justify-content: center
  box-shadow: 0 2px 40px 0 rgba(0,0,0,0.15)
  padding: 2em

.article__banner--title, .article__banner--title--thumbnail
  position: relative
  display: flex
  align-items: baseline
  flex-direction: row
  justify-content: space-between
  z-index: 20
  h1
    font-size: $step-up-4
    margin-bottom: 0

.article__banner--title
  color: #293C50
  
.article__banner--title--thumbnail
  color: white

.article__banner--date, .post__header--date
  font-size: 1em
  margin-bottom: 0
  font-weight: 400

.article__banner--tags
  padding-bottom: .5em

.article__banner--footer
  padding-top: .5em

.article__content
  margin-bottom: 100px  
  max-width: 900px  
  padding: calc(20px + 2em)
  p
    margin: 2em 0
  h2
    color: #6F64F2  
  img
    width: 100%
    -webkit-filter: drop-shadow(0 .5em 2em rgba(50, 50, 50, 0.3))
    filter: drop-shadow(0 .5em 2em rgba(50, 50, 50, 0.3))
 
  @media only screen and (max-width: $mobile-break)
    padding: 1em

.post-container
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr 25%
  height: 100%
  width: 100%
  @media only screen and (max-width: $mobile-break)
    grid-template-rows: 1fr
    &>div:last-child
      display: none

.post__header, .post__header--thumbnail
  display: flex
  flex-direction: column

.post__header
  color: #293C50 

.post__header--thumbnail
  color: white

.post__footer
  display: flex
  flex-direction: column
  background: $sidebar-background-color
  height: 100%


.post__header--thumbnail, .post__excerpt--thumbnail,
  padding: $post-padding

.post__footer
  padding: $post-padding
  padding-top: 1rem

.post__thumbnails
  align-self: center
  margin: auto 0

.post__thumbnail
  width: 100%
  height: auto
  -webkit-filter: drop-shadow(0 .5em 2em rgba(50, 50, 50, 0.3))
  filter: drop-shadow(0 .5em 2em rgba(50, 50, 50, 0.3))

.post__thumbnail--background
  background-color: rgba(255,255,255,.6)
  z-index: -1
  transform: scale(0.95) translateY(-5%) 

.post__header--title
  position: relative
  display: flex
  align-items: baseline
  flex-direction: row
  justify-content: space-between
  z-index: 20
  h1
    margin-bottom: 0.1em

.post__header--date
  color: rgba(255,255,255,.7)

.post__header--tags, .post__header--tags--thumbnail
  display: inline-flex
  height: 1.25em
  overflow: hidden
  font-size: $step-down-1


.post__header--tags, .article__banner--tags
  color: #5F7288
  a:hover
    color: black
 
.post__header--tags--thumbnail, .article__banner--tags--thumbnail
  color: rgba(255,255,255,.7)
  a:hover
    color: white

.post__excerpt
  color: #293C50 
  align-self: flex-start
  justify-self: flex-end
  p
    margin: 0
   

.post__link
  color: #293C50
  align-self: flex-end
  text-transform: uppercase
  font-weight: 600 
  margin-top: auto
  transition-property: color
  transition-duration: .15s
  transition-timing-function: ease-in-out
  &:hover
    color: black

.post__header--link
  display: none
  text-transform: uppercase
  font-weight: 600 
  @media only screen and (max-width: $mobile-break)
    display: inline
    position: absolute
    bottom: $post-padding
    right: $post-padding
    color: white

.tags-list
  margin: 0
  padding: 0

.tags-list-item
  a
    -webkit-transition: color .15s ease-in-out
    transition: color .15s ease-in-out
    text-decoration: none
    text-transform: uppercase
  -webkit-appearance: none
  float: left
  padding-right: .5em
  font-weight: 400
  list-style: none
  margin-left: 0
  padding-left: 0
  text-align: center
  position: relative
  z-index: 4
  
.button, .button--alt, .button--thumbnail, .button--alt--thumbnail
  border-radius: 3px
  display: inline-block
  font-size: 1em
  font-weight: 400
  padding: .7em 1.4em
  margin-right: .5em
  margin-top: .5em
  position: relative
  text-align: center
  text-decoration: none
  text-transform: uppercase
  z-index: 4
  transition-property: transform, color, background
  transition-duration: .15s
  transition-timing-function: ease-in-out
  &:hover
    box-shadow: 0 3px 12px rgba(50,50,50,0.2)
  @media screen and (max-width: $break-m)
    padding: .5em 1em

.button
  background: #ABA8F2
  color: rgba(255,255,255,.9)
  &:hover
    background: #6F64F2
    color: white

.button--thumbnail
  background: rgba(255,255,255,.9)
  color: #ABA8F2
  &:hover
    background: white
    color: #6F64F2
    
.button--alt
  background: #E7AAAE
  color: rgba(255,255,255,.7)
  &:hover
    background: #E8676A
    color: white
  
.button--alt--thumbnail
  color: #ABA8F2
  background: rgba(255,255,255,.8)
  &:hover
    color: #6F64F2
    background: white


// Animations for the content of the main object
.fade-in
  animation-duration: .3s
  animation-fill-mode: both
  animation-delay: .1s
  animation-name: fade-in-up
  animation-timing-function: ease-in-out
 
@keyframes fade-in-up 
  from 
    opacity: 0
    -webkit-transform: translate3d(0, 1%, 0)
    transform: translate3d(0, 1%, 0)
  to 
    opacity: 1
    -webkit-transform: none
    transform: none

@keyframes fade-in 
  from 
    opacity: 0
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  to 
    opacity: 1
    -webkit-transform: none
    transform: none

.pace 
  -webkit-pointer-events: none
  pointer-events: none
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none
  
.pace-inactive  .pace-progress
  opacity: 0
  transition: opacity .5s ease-in-out 

.pace .pace-progress 
  background: #6F64F2
  position: fixed
  z-index: 8000
  top: 0
  right: 100%
  width: 100%
  height: 2px
  -webkit-filter: drop-shadow(0 1px 2px #6F64F2)
  filter: drop-shadow(0 1px 2px #6F64F2)

