@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: local("Roboto Medium"), url(/fonts/Roboto-Medium.woff) format("tff"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), url(/fonts/Roboto-Regular.woff) format("tff"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), url(/fonts/Roboto-Light.woff) format("tff"); }
::-moz-selection, ::selection {
  background: rgba(107, 79, 189, 0.4);
  text-shadow: none; }

::-webkit-scrollbar {
  width: 0;
  display: none; }

body {
  opacity: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #EDF1F4;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.2s;
  text-rendering: optimizeLegibility; }

html {
  -ms-touch-action: manipulation;
  line-height: 1.5;
  display: block;
  height: 100%;
  width: 100%;
  touch-action: manipulation;
  font-size: 100%; }

body, html {
  font-family: "Roboto", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 1em; }

code {
  border: none;
  border-bottom-right-radius: 3px;
  border-radius: 0;
  border-top-right-radius: 3px;
  display: block;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, ul {
  padding-top: 0;
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1, h2, h3 {
  margin-bottom: 1.25em 0.5em;
  line-height: 1.2;
  margin-left: -2px; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

li {
  font-size: 1em; }

h1 {
  font-size: 1.953125em; }

h2 {
  font-size: 1.5625em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1em; }

p {
  font-weight: 400;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

ul {
  line-height: 1.5; }

.layout {
  display: grid;
  grid-template-rows: 100px 1fr;
  width: 100%; }
  @media only screen and (min-width: 1200px) {
    .layout {
      grid-template-columns: 350px 2em 1fr 2em; } }
  @media only screen and (max-width: 1200px) {
    .layout {
      grid-template-columns: 1fr; } }

.main {
  width: 100%;
  overflow: visible;
  z-index: 1;
  grid-row-start: 2; }
  @media only screen and (min-width: 1200px) {
    .main {
      grid-column-start: 3; } }
  @media only screen and (max-width: 1200px) {
    .main {
      grid-column-start: 1; } }

.tob-bar {
  display: flex;
  align-items: center;
  z-index: 4000;
  width: 100vw;
  padding: 0 1em;
  position: fixed;
  transition: background 0.15s ease-in-out;
  height: 64px;
  background: #F4F7FA;
  box-shadow: 0 6px 24px 0 rgba(50, 50, 50, 0.2);
  top: 0;
  left: 0; }

.top-bar__button {
  font-size: 1.953125em;
  justify-self: flex-start;
  transition: color 0.15s ease-in-out;
  color: #293C50; }
  .top-bar__button:hover {
    color: #6F64F2; }
  @media only screen and (min-width: 1200px) {
    .top-bar__button {
      display: none !important; } }

.top-bar__text--slash {
  color: #E7AAAE;
  padding: 0 0.5em; }

.top-bar__text {
  text-transform: uppercase;
  color: #293C50;
  margin: 0;
  padding-left: 2.25em; }

@media only screen and (max-width: 768px) {
  .to-bar__search {
    display: none; } }
.to-bar__search input[type="text"] {
  background: #FFFFFF;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  border: none;
  height: 2em;
  margin-left: 1em;
  width: 260px; }

.header__close {
  margin-top: auto; }
  @media only screen and (min-width: 1200px) {
    .header__close {
      display: none; } }

.header {
  vertical-align: middle;
  margin-top: 64px;
  z-index: 10;
  height: 100%;
  flex-grow: 1;
  display: flex;
  overflow-y: hidden;
  flex-shrink: 1;
  background-color: #F4F7FA;
  box-shadow: 0 6px 24px 0 rgba(50, 50, 50, 0.2);
  position: fixed;
  align-items: flex-start;
  flex-flow: wrap;
  flex-direction: column;
  left: -350px;
  width: 350px;
  will-change: transform; }
  @media only screen and (min-width: 1200px) {
    .header {
      padding-top: 0;
      height: 100vh;
      min-height: 100%;
      left: 0; } }
  @media only screen and (max-width: 1200px) {
    @supports (backdrop-filter: blur(3em)) or (-webkit-backdrop-filter: blur(2em)) {
      .header {
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(2em);
        -webkit-backdrop-filter: blur(2em); } } }

#header:focus {
  outline: 0px solid transparent; }

.nav-item {
  display: flex;
  padding: 1em 2em;
  align-items: center;
  transition-property: color, border-left, background;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  color: #5F7288;
  border-left: 5px solid transparent; }
  .nav-item:hover {
    color: #6F64F2;
    background: rgba(0, 0, 0, 0.05);
    border-left: 5px solid #6F64F2; }
    .nav-item:hover .nav_item_icon {
      color: #ABA8F2; }
  .nav-item:active {
    border-left: 5px solid #E8676A;
    background: #FFE6E8; }

.nav-item__icon {
  width: 1em;
  color: #AAB9C5;
  transition: color 0.15s ease-in-out;
  margin-right: 1em; }

.nav-item__info {
  line-height: 0.25;
  font-size: 1em;
  font-weight: 400;
  color: #AAB9C5;
  position: absolute; }

.nav-item__label {
  text-transform: uppercase;
  font-weight: 600; }

.nav-item--close {
  display: flex;
  padding: 1em 2em;
  align-items: center;
  transition-property: color, border-left, background;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  color: #E7AAAE;
  margin-bottom: 64px; }
  .nav-item--close:hover {
    color: #E8676A; }

.show-header {
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out; }
  @media only screen and (min-width: 1200px) {
    .show-header {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  @media only screen and (max-width: 1200px) {
    .show-header {
      -webkit-transform: translate3d(350px, 0, 0);
      transform: translate3d(350px, 0, 0); } }

.header__info, .header__about {
  padding: 12px 24px; }

.header__close, .header__sns, .header__nav {
  width: 100%;
  padding: 12px 0; }

.header__about--greeting {
  font-size: 1.25em;
  font-weight: 600;
  color: #293C50; }

.header__about--text {
  color: #5F7288;
  max-height: 7.5em;
  transition-property: height;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out; }
  @media only screen and (max-height: 600px) {
    .header__about--text {
      max-height: 0px;
      opacity: 0; } }

.header__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

.info-title {
  padding-left: 12px;
  margin: 12px 0; }

.info-title__author {
  color: #6F64F2;
  line-height: 1.5;
  margin: 0; }

.info-title__text {
  color: #6D757E;
  margin: 0; }

.avatar {
  border-radius: 120%;
  display: block;
  height: auto;
  width: 6em;
  box-shadow: 0 6px 24px 0 rgba(50, 50, 50, 0.2); }

.full-post {
  display: flex;
  justify-content: center;
  margin: 0 0.5em; }

.posts {
  display: grid;
  grid-gap: 36px;
  grid-auto-rows: minmax(auto, 1fr);
  grid-auto-flow: row dense;
  padding: 1em;
  margin-bottom: 4em;
  grid-template-columns: 1fr; }
  @media only screen and (min-width: 768px) and (max-width: 1600px) {
    .posts {
      grid-template-columns: repeat(auto-fit, minmax(22em, 1fr)); } }
  @media only screen and (min-width: 1600px) and (max-width: 2000px) {
    .posts {
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (min-width: 2000px) and (max-width: 2600px) {
    .posts {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (min-width: 2600px) {
    .posts {
      grid-template-columns: repeat(5, 1fr); } }

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: white;
  border-radius: 6px;
  box-shadow: 0 6px 24px 0 rgba(50, 50, 50, 0.2); }

.post {
  color: white;
  width: 100%;
  display: inline-block;
  position: relative; }

.post::after {
  width: 100%;
  padding-top: 115%;
  display: block;
  content: ""; }

.article {
  width: 100%;
  max-width: 950px;
  margin-top: 2em;
  margin-bottom: 4em;
  display: flex;
  align-items: center;
  overflow: visible; }

.article__banner, .article {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fade-in-up;
  animation-timing-function: ease-in-out; }

.article__banner {
  position: relative;
  width: calc(100% - 2em);
  margin: 0 1em;
  margin-top: -20px;
  border-radius: 6px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  padding: 2em; }

.article__banner--title, .article__banner--title--thumbnail {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  z-index: 20; }
  .article__banner--title h1, .article__banner--title--thumbnail h1 {
    font-size: 2.44140625em;
    margin-bottom: 0; }

.article__banner--title {
  color: #293C50; }

.article__banner--title--thumbnail {
  color: white; }

.article__banner--date, .post__header--date {
  font-size: 1em;
  margin-bottom: 0;
  font-weight: 400; }

.article__banner--tags {
  padding-bottom: 0.5em; }

.article__banner--footer {
  padding-top: 0.5em; }

.article__content {
  margin-bottom: 100px;
  max-width: 900px;
  padding: calc(20px + 2em); }
  .article__content p {
    margin: 2em 0; }
  .article__content h2 {
    color: #6F64F2; }
  .article__content img {
    width: 100%;
    -webkit-filter: drop-shadow(0 0.5em 2em rgba(50, 50, 50, 0.3));
    filter: drop-shadow(0 0.5em 2em rgba(50, 50, 50, 0.3)); }
  @media only screen and (max-width: 560px) {
    .article__content {
      padding: 1em; } }

.post--container {
  display: flex;
  flex-direction: column;
  padding: 18px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%; }

.post__header, .post__excerpt, .post__header--thumbnail, .post__excerpt--thumbnail {
  margin-bottom: 0.5em; }

.post__thumbnail {
  margin-bottom: 0.75em; }

.post__thumbnail {
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(0 0.5em 2em rgba(50, 50, 50, 0.3));
  filter: drop-shadow(0 0.5em 2em rgba(50, 50, 50, 0.3)); }

.post__header--title {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  z-index: 20; }
  .post__header--title h1 {
    margin-bottom: 0; }

.post__header--tags, .post__header--tags--thumbnail {
  display: inline-flex;
  height: 1.25em;
  overflow: hidden;
  font-size: 0.8em; }

.post__header {
  color: #293C50;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.post__header--tags, .article__banner--tags {
  color: #5F7288; }
  .post__header--tags a:hover, .article__banner--tags a:hover {
    color: black; }

.post__header--tags--thumbnail, .article__banner--tags--thumbnail {
  color: rgba(255, 255, 255, 0.7); }
  .post__header--tags--thumbnail a:hover, .article__banner--tags--thumbnail a:hover {
    color: white; }

.post__header--thumbnail {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.post__excerpt, .post__excerpt--thumbnail {
  grid-row-start: 3;
  color: #293C50; }
  .post__excerpt p, .post__excerpt--thumbnail p {
    margin: 0; }

.post__excerpt--thumbnail {
  -webkit-mask-image: -webkit-linear-gradient(top, white, white 70%, rgba(255, 255, 255, 0));
  overflow-y: hidden;
  color: white; }

.post__footer {
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: auto; }

.post__footer--thumbnail {
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: auto; }

.tags-list {
  margin: 0;
  padding: 0; }

.tags-list-item {
  -webkit-appearance: none;
  float: left;
  padding-right: 0.5em;
  font-weight: 400;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
  position: relative;
  z-index: 4; }
  .tags-list-item a {
    -webkit-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
    text-decoration: none;
    text-transform: uppercase; }

.button, .button--alt, .button--thumbnail, .button--alt--thumbnail {
  border-radius: 3px;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding: 0.7em 1.4em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 4;
  transition-property: transform, color, background;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out; }
  .button:hover, .button--alt:hover, .button--thumbnail:hover, .button--alt--thumbnail:hover {
    box-shadow: 0 3px 12px rgba(50, 50, 50, 0.2); }
  @media screen and (max-width: 768px) {
    .button, .button--alt, .button--thumbnail, .button--alt--thumbnail {
      padding: 0.5em 1em; } }

.button {
  background: #ABA8F2;
  color: rgba(255, 255, 255, 0.9); }
  .button:hover {
    background: #6F64F2;
    color: white; }

.button--thumbnail {
  background: rgba(255, 255, 255, 0.9);
  color: #ABA8F2; }
  .button--thumbnail:hover {
    background: white;
    color: #6F64F2; }

.button--alt {
  background: #E7AAAE;
  color: rgba(255, 255, 255, 0.7); }
  .button--alt:hover {
    background: #E8676A;
    color: white; }

.button--alt--thumbnail {
  color: #ABA8F2;
  background: rgba(255, 255, 255, 0.8); }
  .button--alt--thumbnail:hover {
    color: #6F64F2;
    background: white; }

.fade-in {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-delay: 0.1s;
  animation-name: fade-in-up;
  animation-timing-function: ease-in-out; }

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1%, 0);
    transform: translate3d(0, 1%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

/*# sourceMappingURL=sidebar.css.map */
