@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: local("Roboto Medium"), url(/fonts/Roboto-Medium.woff) format("tff"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), url(/fonts/Roboto-Regular.woff) format("tff"); }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), url(/fonts/Roboto-Light.woff) format("tff"); }
::-moz-selection, ::selection {
  background: rgba(107, 79, 189, 0.4);
  text-shadow: none; }

::-webkit-scrollbar {
  width: 0;
  display: none; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #EDF1F4;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  text-rendering: optimizeLegibility; }

html {
  -ms-touch-action: manipulation;
  line-height: 1.5;
  display: block;
  height: 100%;
  width: 100%;
  touch-action: manipulation; }

body, html {
  font-family: "Roboto", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 1em; }

code {
  border: none;
  border-bottom-right-radius: 3px;
  border-radius: 0;
  border-top-right-radius: 3px;
  display: block;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type, ul:first-of-type {
  padding-top: 0;
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1, h2, h3 {
  margin: 1.25em 0 0.5em;
  line-height: 1.2;
  margin-left: -2px; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

li {
  font-size: 1em; }

h1 {
  font-size: 1.953125em; }

h2 {
  font-size: 1.5625em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1em; }

p {
  font-weight: 300;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

ul {
  line-height: 1.5; }

#layout {
  display: grid;
  grid-template-rows: 100px 1fr;
  width: 100%; }
  @media only screen and (min-width: 1200px) {
    #layout {
      grid-template-columns: 22em 2em 1fr 2em; } }
  @media only screen and (max-width: 1200px) {
    #layout {
      grid-template-columns: 1fr; } }

#main {
  width: 100%;
  overflow: visible;
  z-index: 1;
  grid-row-start: 2; }
  @media only screen and (min-width: 1200px) {
    #main {
      grid-column-start: 3; } }
  @media only screen and (max-width: 1200px) {
    #main {
      grid-column-start: 1; } }

#topbar {
  display: flex;
  align-items: center;
  z-index: 4000;
  height: 100px;
  width: 100vw; }
  #topbar h3 {
    text-transform: uppercase;
    color: #293C50;
    margin: 0;
    padding-left: 2.25em; }
  #topbar span.slash {
    color: #E7AAAE;
    padding: 0 0.5em; }
  @media only screen and (min-width: 1200px) {
    #topbar {
      margin-left: 22em; }
      #topbar i {
        display: none; } }
  @media only screen and (max-width: 1200px) {
    #topbar {
      padding: 0 1em;
      position: fixed;
      transition: background 0.15s ease;
      height: 4em;
      background: #F4F7FA;
      box-shadow: 0 0.5em 2em 0 rgba(50, 50, 50, 0.2); } }
  @media only screen and (max-width: 900px) {
    #topbar h3 {
      justify-self: center; } }

@media only screen and (max-width: 768px) {
  #search {
    display: none; } }
#search input[type="text"] {
  background: #FFFFFF;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  border: none;
  height: 2em;
  margin-left: 1em;
  width: 260px; }

#menu {
  position: fixed; }
  #menu i {
    font-size: 1.953125em;
    justify-self: flex-start;
    transition: color 0.15s ease-in-out;
    color: #293C50;
    -webkit-filter: drop-shadow(0 0.5em 2em rgba(50, 50, 50, 0.2));
    filter: drop-shadow(0 0.5em 2em rgba(50, 50, 50, 0.2)); }
    #menu i:hover {
      color: #6F64F2; }
  @media only screen and (min-width: 1200px) {
    #menu {
      display: none; } }

#close {
  padding: 0em 2em;
  justify-self: flex-end;
  font-size: 1em;
  margin-top: auto;
  margin-bottom: 1em; }
  #close a {
    color: #E7AAAE; }
    #close a:hover {
      color: #E8676A !important; }
  #close i {
    margin-right: 1em;
    width: 1em; }
  @media only screen and (min-width: 1200px) {
    #close {
      display: none; } }

#header {
  vertical-align: middle;
  z-index: 1200;
  height: 100vh;
  min-height: 100%;
  flex-grow: 1;
  display: flex;
  overflow-y: hidden;
  flex-shrink: 1;
  background-color: white;
  box-shadow: 0 0.5em 2em 0 rgba(50, 50, 50, 0.2);
  position: fixed;
  align-items: flex-start;
  flex-flow: wrap;
  flex-direction: column; }
  @media only screen and (min-width: 1200px) {
    #header {
      left: 0; } }
  @media only screen and (min-width: 560px) and (max-width: 1200px) {
    #header {
      left: -22em; } }
  @media only screen and (min-width: 560px) {
    #header {
      width: 22em; } }
  @media only screen and (max-width: 560px) {
    #header {
      width: 80%;
      left: -80%; } }
  @media only screen and (max-width: 1200px) {
    #header {
      margin-top: 4em; }
      @supports (backdrop-filter: blur(3em)) or (-webkit-backdrop-filter: blur(2em)) {
        #header {
          background: rgba(255, 255, 255, 0.8);
          backdrop-filter: blur(2em);
          -webkit-backdrop-filter: blur(2em); } } }
  #header > div {
    padding: 1em 2em; }
    #header > div:first-child {
      margin: 1em 2em;
      margin-bottom: 1vh;
      padding: 0; }
    #header > div:last-child {
      border-bottom: none;
      padding-bottom: 0; }
  #header a.item {
    display: flex;
    align-items: center;
    transition: color 0.15s ease; }
    #header a.item:hover {
      color: black; }

.show-header {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  @media only screen and (min-width: 1200px) {
    .show-header {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  @media only screen and (min-width: 560px) and (max-width: 1200px) {
    .show-header {
      -webkit-transform: translate3d(22em, 0, 0);
      transform: translate3d(22em, 0, 0); } }
  @media only screen and (max-width: 560px) {
    .show-header {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0); } }

.full_post {
  display: flex;
  justify-content: center;
  margin: 0 0.5em; }

.posts {
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
  grid-auto-rows: minmax(auto, 1fr);
  grid-auto-flow: row dense;
  padding: 1em;
  margin-bottom: 4em; }
  @media only screen and (max-width: 560px) {
    .posts {
      grid-template-columns: 1fr; } }
  @media only screen and (min-width: 1600px) and (max-width: 2000px) {
    .posts {
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (min-width: 2000px) and (max-width: 2600px) {
    .posts {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (min-width: 2600px) {
    .posts {
      grid-template-columns: repeat(5, 1fr); } }

#aboutme p {
  color: #5F7288;
  max-height: 7.5em;
  transition: all 0.15s ease; }
  @media only screen and (max-height: 600px) {
    #aboutme p {
      max-height: 0px;
      opacity: 0; } }
#aboutme div.greeting {
  font-size: 1.25em;
  font-weight: 500;
  color: #293C50; }

#info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

#title {
  padding-left: 0.75em;
  margin: 2em 0; }
  #title h3 {
    color: #6F64F2;
    line-height: 1.5; }
  #title p {
    color: #6D757E; }
  #title > * {
    margin: 0; }

#navigation, #sns {
  width: 100%; }
  #navigation a, #sns a {
    transition: color 0.15s ease-in-out;
    color: #5F7288; }
    #navigation a:hover, #sns a:hover {
      color: #ABA8F2; }
      #navigation a:hover i, #sns a:hover i {
        color: #ABA8F2; }
  #navigation i, #sns i {
    width: 1em;
    color: #AAB9C5;
    transition: color 0.15s ease-in-out;
    margin-right: 1em; }
  #navigation li, #sns li {
    line-height: 2;
    padding-bottom: 1.5vh; }

.info {
  line-height: 0.25;
  font-size: 1em;
  font-weight: 300;
  color: #AAB9C5;
  position: absolute; }

.label {
  text-transform: uppercase;
  font-weight: 500; }

#sns li {
  line-height: 2.5; }

#avatar img {
  border-radius: 120%;
  display: block;
  height: auto;
  width: 5em;
  margin: auto;
  box-shadow: 0 0.5em 2em 0 rgba(50, 50, 50, 0.2); }

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0.5em 2em 0 rgba(50, 50, 50, 0.2); }

.post {
  color: white;
  width: 100%;
  display: inline-block;
  position: relative; }

.post::after {
  width: 100%;
  padding-top: 115%;
  display: block;
  content: ""; }

.article {
  width: 100%;
  max-width: 950px;
  margin-top: 2em;
  margin-bottom: 4em;
  display: flex;
  align-items: center;
  overflow: visible; }

.article_content {
  margin-bottom: 100px;
  max-width: 900px;
  padding: calc(20px + 2em); }
  .article_content p {
    margin: 2em 0; }
  .article_content h2 {
    color: #6F64F2; }
  .article_content img {
    width: 100%;
    -webkit-filter: drop-shadow(0 0.5em 2em rgba(50, 50, 50, 0.3));
    filter: drop-shadow(0 0.5em 2em rgba(50, 50, 50, 0.3)); }
  @media only screen and (max-width: 560px) {
    .article_content {
      padding: 1em; } }

.article_banner {
  position: relative;
  width: calc(100% - 2em);
  margin: 0 1em;
  margin-top: -20px;
  border-radius: 6px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  padding: 2em; }
  .article_banner .article_footer {
    padding-top: 0.5em;
    border-top: 1px solid rgba(255, 255, 255, 0.3); }
  .article_banner .article_tags {
    padding-bottom: 0.5em; }
  .article_banner .article_title {
    color: white;
    position: relative;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    z-index: 20; }
    .article_banner .article_title h1 {
      font-size: 2.44140625em;
      margin-bottom: 0; }
    .article_banner .article_title .post_date {
      font-size: 1em;
      margin-bottom: 0;
      font-weight: 400; }

.article_banner, .article {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fade-in-up;
  animation-timing-function: ease; }

.post_container {
  display: flex;
  flex-direction: column;
  padding: 18px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%; }

.post_header, .post_excerpt {
  margin-bottom: 0.5em; }

.post_thumbnail {
  margin-bottom: 0.75em; }

.post_thumbnail {
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(0 0.5em 2em rgba(50, 50, 50, 0.3));
  filter: drop-shadow(0 0.5em 2em rgba(50, 50, 50, 0.3)); }

.post_title {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  z-index: 20; }
  .post_title h1 {
    margin-bottom: 0; }

.post_date {
  font-size: 1em;
  margin-bottom: 0;
  font-weight: 400; }

.post_tags {
  display: inline-flex;
  height: 1.25em;
  overflow: hidden;
  font-size: 0.8em; }

.post_header {
  color: #293C50;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .post_header .post_tags a {
    color: #5F7288; }
  .post_header.thumbnail {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white; }
    .post_header.thumbnail .post_tags a {
      color: rgba(255, 255, 255, 0.7); }

.post_excerpt {
  grid-row-start: 3;
  color: #293C50; }
  .post_excerpt p {
    margin: 0; }
  .post_excerpt.thumbnail {
    -webkit-mask-image: -webkit-linear-gradient(top, white, white 70%, rgba(255, 255, 255, 0));
    overflow-y: hidden;
    color: white; }
  @media only screen and (min-width: 768px) {
    .post_excerpt {
      font-size: 0.95em; } }

.post_footer {
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: auto; }
  .post_footer .button {
    color: white;
    background: #ABA8F2; }
    .post_footer .button.alt {
      color: rgba(255, 255, 255, 0.6);
      background: #ABA8F2; }
    .post_footer .button:hover {
      background: #6F64F2;
      color: white; }
  .post_footer.thumbnail .button {
    color: #ABA8F2;
    background: rgba(255, 255, 255, 0.9); }
    .post_footer.thumbnail .button:hover {
      color: #6F64F2;
      background: white; }

.tags-list {
  margin: 0;
  padding: 0; }

.tags-list-item {
  -webkit-appearance: none;
  float: left;
  padding-right: 0.5em;
  font-weight: 400;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
  position: relative;
  z-index: 4; }
  .tags-list-item a {
    -webkit-transition: color 0.15s ease;
    transition: color 0.15s ease;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase; }
    .tags-list-item a:hover {
      color: white; }

.button-wrapper {
  z-index: -1;
  margin-left: auto; }
  .button-wrapper:last-of-type {
    padding-bottom: 0; }

.button {
  background-color: white;
  border-radius: 3px;
  color: #5F7288;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding: 0.7em 1.4em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 4;
  transition: all 0.15s ease-in-out; }
  .button:hover {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0); }
  @media screen and (max-width: 768px) {
    .button {
      padding: 0.5em 1em; } }

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: flex-start; }
  .container .item {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .container .item i {
      font-size: 1.5625em;
      width: 2em; }

.fade-in {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-delay: 0.1s;
  animation-name: fade-in-up;
  animation-timing-function: ease; }

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1%, 0);
    transform: translate3d(0, 1%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

/*# sourceMappingURL=sidebar.css.map */
