#header
  #info
    #avatar
      img(src=theme.img.avatar, alt='avatar')
    #title
        if theme.img.avatar
          h3
            !=config.author
          p
            if (Array.isArray(theme.header.info))
              !=theme.header.info.join('<br>')
            else
              !=theme.header.info
  #aboutme
    if (Array.isArray(theme.header.slogan))
      - let array = theme.header.slogan
      - first_sentence = theme.header.slogan[0]
      - array = array.slice(1)
      h3
        !=first_sentence
      p
        !=array.join('<br>')
    else
      h4
        !=theme.header.slogan
  #navigation
    ul
      each values, label in theme.menu
        li
          a(href=values.url data-pjax)
            i(class="fa fa-lg " + values.icon)&attributes({'aria-hidden': 'true'})
            !=label
  #sns
    ul
      each values, label in theme.sns
        if values.url
          li
            a(href=values.url)
              i(class="fa fa-lg " + values.icon)&attributes({'aria-hidden': 'true'})
              !=label 
  #close
    ul
      li
        a
          i(class="fa fa-lg fa-close")&attributes({'aria-hidden': 'true'})
          !="Close sidebar"
 
           
