#header
  #info
    #avatar
      img(src=theme.img.avatar, alt='avatar')
    
    #title
        if theme.img.avatar
          h3
            !=config.title
        //i(class="fa fa-map-marker")&attributes({'aria-hidden': 'true'})
          !=theme.header.location 
  #aboutme
    p
      if (Array.isArray(theme.header.slogan))
        !=theme.header.slogan.join('<br>')
      else
        !=theme.header.slogan
  #navigation
    ul
      each values, label in theme.menu
        li
          a(href=values.url data-pjax)
            i(class="fa fa-lg " + values.icon)&attributes({'aria-hidden': 'true'})
            !=label
  #sns
    each values, label in theme.sns
      if values.url
        a(href=values.url)
          i(class="fa fa-lg " + values.icon)&attributes({'aria-hidden': 'true'})